<article class="lsb-entry lsb-entry--{{post.post_type}}" id="post-{{post.ID}}">
	{% if post.thumbnail.src %}
		{% block entry_thumbnail %}
				<img src="{{ post.thumbnail.src | resize(384) }}" class="lsb-entry-featured-image" alt="Image for {{ post.title }}" />
		{% endblock %}
	{% endif %}
	<header class="lsb-entry-header">
		{% block entry_header %}
			<h1 class="lsb-entry-title">{{post.title}}</h1>
		{% endblock %}
	</header>
	<div class="lsb-entry-content">
		{% block entry_content %}
			{{post.content}}
		{% endblock %}
	</div>
	<footer class="lsb-entry-footer">
		{% block entry_footer %}
		{% endblock %}
	</footer>
</article>
