<article class="lsb_entry is-{{ post.post_type }}" id="post-{{post.ID}}">
	<div class="lsb_entry__header">
		{% if post.thumbnail.src %}
			<img src="{{ post.thumbnail.src | resize(384) }}" class="lsb_entry__thumbail" aria-hidden="true" alt="Image for {{ post.title }}" />
		{% endif %}
		<h1 class="lsb_entry__title">{{ post.title }}</h1>
	</div>
	<div class="lsb_entry__body">
		<div class="is-content">
			{{ post.content }}
		</div>
	</div>

	{% for section in post.sections %}
		{% include ['section-'~section.layout~'.twig', 'section.twig'] %}
	{% endfor %}
</article>
