<article class="lsb_entry is-archive {{ is_root ? 'is-root' : '' }}">
	<div class="lsb_entry__header">
		<h1 class="lsb_entry__title">{{ title }}</h1>
	</div>

	{% if description %}
		<div class="lsb_entry__body">
			<div class="is-content">
				{{ description }}
			</div>
			{% if translations %}
				<div class="lsb_tabs">
					<div class="lsb_tabs__nav">
						{% for translation in translations %}
						<div class="lsb_tabs__nav-item" data-id="{{ translation.key }}">{{ translation.label }}</div>
						{% endfor %}
					</div>

					{% for translation in translations %}
					<div class="lsb_tabs__tab" data-id="{{ translation.key }}">
						<div class="is-content {{ translation.class }}">
							<h2 class="is-title">{{ translation.title }}</h2>
							{{ translation.description }}
						</div>
					</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	{% endif %}

	{% for section in post.sections %}
		{% include ['section-'~section.layout~'.twig', 'section.twig'] %}
	{% endfor %}

	{% if sections %}
		{% for section in sections %}
			{% include ['section-'~section.layout~'.twig', 'section.twig'] %}
		{% endfor %}
	{% else %}
		<section class="lsb_section">
			<div class="lsb_section__body">
			{% if 'lsb_book' == post_type %}
				<div class="lsb_card-wrapper">
				{% for post in posts %}
					{% include ['card'~post.post_type~'.twig', 'card.twig'] %}
				{% endfor %}
				</div>
			{% else %}
				{% for post in posts %}
					{% include ['teaser-'~post.post_type~'.twig', 'teaser.twig'] %}
				{% endfor %}
			{% endif %}
			</div>
		</section>
	{% endif %}

</article>
