{% if 'navbar' == style %}
	<ul class="nav navbar-nav">
		{% for item in items %}
			<li class="{{ item.classes | join(' ') }}">
				<a href="{{ item.link }}" target="{{ item.target }}">{{ item.title }}</a>
			</li>
		{% endfor %}
	</ul>
{% elseif 'blurb' == style %}
	<ul class="lsb_menu is-{{  style  }}">
		{% for item in items %}
			<li class="lsb_menu__item {{ item.classes | join(' ') }}">
				<a class="lsb_menu__link" href="{{ item.link }}" target="{{ item.target }}">
					<!-- No space between title and glyphicon, otherwise underline is sticking out -->
					<span class="lsb_menu__title">{{ item.title }}</span>
					<span class="lsb_menu__arrow" aria-hidden="true"></span>
					<span class="lsb_menu__description">{{ item.description }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
{% else %}
	<ul class="lsb_menu is-{{  style  }}">
		{% for item in items %}
			<li class="lsb_menu__item">
				<a class="lsb_menu__link" href="{{ item.link }}" target="{{ item.target }}">
					{% if item | icon %}
						<img class="is-lsb_icon" src="{{ (item | icon).src }}" aria-hidden="true">
					{% endif %}
					<span class="lsb_menu__title">{{ item.name }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}