{% extends "entry.twig" %}

{% block entry_thumbnail %}
	<a href="{{ post.link }}" aria-hidden="true" class="lsb-entry-featured-image">
		<img src="{{ post.thumbnail.src | resize(false, 200) }}" alt="Image for {{ post.title }}" />
	</a>
{% endblock %}

{% block entry_header %}
	<h2 class="lsb-entry-title">
		<a href="{{ post.link }}">{{ post.title }}</a>
	</h2>
{% endblock %}

{% block entry_content %}
	<p>{{ post.get_preview(50, false, '', true, '') }}</p>
{% endblock %}

{% block entry_footer %}
	<a class="lsb-entry-read-more" href="{{ post.link }}" aria-hidden="true" tabindex="-1">
		{{ post.lsb_read_more }}<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	</a>
{% endblock %}
