<article class="lsb_book is-{{ post.post_type }}" id="post-{{post.ID}}">
	{% if post.thumbnail.src %}
		<a href="{{ post.link }}" class="lsb_book__thumbail" aria-hidden="true" tabindex="-1">
			<img src="{{ post.thumbnail.src | resize(250) }}" alt="Image for {{ post.title }}" />
		</a>
	{% endif %}
	<{{ h_size | default('h2') }} class="lsb_book__title">
		<a href="{{ post.link }}">{{ post.title }}</a>
	</{{ h_size | default('h2') }}>

	<div class="lsb_book__body">
		{{ post.authors }}
	</div>
</article>
